Repository storybookjs/presets, pull requests merged in 2019-08, with the labels that each got.

#26 Remove MDX preset
  README.md
  packages/preset-mdx/.npmignore
  packages/preset-mdx/.storybook/.babelrc
  packages/preset-mdx/.storybook/Component.js
  packages/preset-mdx/.storybook/Component.stories.mdx
  packages/preset-mdx/.storybook/addons.js
  packages/preset-mdx/.storybook/config.js
  packages/preset-mdx/.storybook/example1.stories.mdx
  packages/preset-mdx/.storybook/example2.stories.mdx
  packages/preset-mdx/.storybook/index.mdx
  packages/preset-mdx/.storybook/mdx.stories.mdx
  packages/preset-mdx/.storybook/presets.js
  packages/preset-mdx/README.md
  packages/preset-mdx/__snapshots__/index.test.js.snap
  packages/preset-mdx/__snapshots__/storybook-classnames-hast-plugin.test.js.snap
  packages/preset-mdx/__snapshots__/storybook-code-example-md-plugin.test.js.snap
  packages/preset-mdx/__snapshots__/storybook-mdx-compiler-plugin.test.js.snap
  packages/preset-mdx/__snapshots__/storybook-syntax-md-plugin.test.js.snap
  packages/preset-mdx/extractRootNodeParts.js
  packages/preset-mdx/helpers.js
  packages/preset-mdx/helpers.test.js
  packages/preset-mdx/index.d.ts
  packages/preset-mdx/index.js
  packages/preset-mdx/index.test.js
  packages/preset-mdx/markdown.css
  packages/preset-mdx/mdx-hast-to-story.js
  packages/preset-mdx/package.json
  packages/preset-mdx/storybook-classnames-hast-plugin.js
  packages/preset-mdx/storybook-classnames-hast-plugin.test.js
  packages/preset-mdx/storybook-code-example-md-plugin.js
  packages/preset-mdx/storybook-code-example-md-plugin.test.js
  packages/preset-mdx/storybook-mdx-compiler-plugin.js
  packages/preset-mdx/storybook-mdx-compiler-plugin.test.js
  packages/preset-mdx/storybook-syntax-md-plugin.js
  packages/preset-mdx/storybook-syntax-md-plugin.test.js
  packages/preset-mdx/templates.js
  packages/preset-mdx/test.mdx
  yarn.lock
Labels: enhancement

#25 Add preset-create-react-app
  packages/preset-create-react-app/.env
  packages/preset-create-react-app/.storybook/config.js
  packages/preset-create-react-app/.storybook/presets.js
  packages/preset-create-react-app/.storybook/test-files/Button.stories.tsx
  packages/preset-create-react-app/.storybook/test-files/Button.tsx
  packages/preset-create-react-app/.storybook/test-files/Logo.jsx
  packages/preset-create-react-app/.storybook/test-files/Logo.stories.jsx
  packages/preset-create-react-app/.storybook/test-files/assets/react-logo.svg
  packages/preset-create-react-app/README.md
  packages/preset-create-react-app/create-react-app.js
  packages/preset-create-react-app/helpers/checkPresets.js
  packages/preset-create-react-app/helpers/getReactScriptsPath.js
  packages/preset-create-react-app/helpers/mergePlugins.js
  packages/preset-create-react-app/helpers/processCraConfig.js
  packages/preset-create-react-app/index.d.ts
  packages/preset-create-react-app/index.js
  packages/preset-create-react-app/package.json
  packages/preset-create-react-app/tsconfig.json
  packages/preset-typescript/README.md
  packages/preset-typescript/package.json
  yarn.lock
Labels: create-react-app

#31 add preset-typescript tsloader-option to README.md.
  packages/preset-typescript/README.md
Labels: typescript

#30 fix (build): Added helpers folder to files in preset-create-react-app
  packages/preset-create-react-app/package.json
Labels: create-react-app
