Repository storybookjs/presets, pull requests merged in 2019-12, with the labels that each got.

#70 CRA: Fix CSS imports in storybook directory
  .circleci/config.yml
  .gitignore
  examples/cra-ts/.storybook/presets.js
  examples/cra-ts/package.json
  examples/cra-ts/src/components/Button/Button.module.scss
  examples/cra-ts/src/components/Button/Button.tsx
  examples/cra/.storybook/config.js
  examples/cra/.storybook/presets.js
  examples/cra/package.json
  package.json
  packages/preset-ant-design/package.json
  packages/preset-create-react-app/package.json
  packages/preset-create-react-app/src/helpers/processCraConfig.ts
  packages/preset-scss/package.json
  packages/preset-typescript/package.json
  yarn.lock
Labels: create-react-app, dependencies, enhancement

#73 preset-typescript: init tsLoaderOptions, tsDocgenLoaderOptions, include options
  packages/preset-typescript/index.js
Labels: bug, typescript

#77 Add support for CRA without overrides
  examples/README.md
  examples/cra-sb-beta/.storybook/main.js
  packages/preset-create-react-app/README.md
  packages/preset-create-react-app/package.json
  packages/preset-create-react-app/src/helpers/processCraConfig.ts
  packages/preset-create-react-app/src/options.ts
  packages/preset-create-react-app/tsconfig.json
  packages/preset-typescript/.storybook/presets.ts
  packages/preset-typescript/README.md
  yarn.lock
Labels: create-react-app, enhancement
