Repository storybookjs/presets, pull requests merged in 2020-06, with the labels that each got.

#147 fix(cra): ignore default Babel config from Storybook
  examples/cra-ts/.env
  examples/cra/.env
  package.json
  packages/preset-create-react-app/src/index.ts
  yarn.lock
Labels: create-react-app

#149 feat(cra): move to react-docgen-typescript-plugin
  .github/workflows/ci.yml
  .prettierignore
  examples/cra-ts/package.json
  examples/cra-ts/src/serviceWorker.ts
  examples/cra/package.json
  examples/cra/src/serviceWorker.js
  examples/ts-react/package.json
  examples/ts-vue/package.json
  package.json
  packages/preset-create-react-app/package.json
  packages/preset-create-react-app/src/helpers/checkPresets.ts
  packages/preset-create-react-app/src/helpers/mergePlugins.ts
  packages/preset-create-react-app/src/helpers/processCraConfig.ts
  packages/preset-create-react-app/src/index.ts
  packages/preset-create-react-app/src/types.ts
  packages/preset-typescript/src/helpers/processConfig.ts
  yarn.lock
Labels: create-react-app, enhancement

#151 Preset-CRA: Fix react-docgen-typescript-plugin deps
  packages/preset-create-react-app/package.json
Labels: bug, create-react-app
