Repository storybookjs/presets, pull requests merged in 2020-03, with the labels that each got.

#106 fix(preset-typescript): don't default to empty include option
  packages/preset-typescript/index.js
Labels: bug, typescript

#68 Remove `react-typescript-docgen-loader` from `preset-typescript`
  packages/preset-typescript/.storybook/config.ts
  packages/preset-typescript/.storybook/main.ts
  packages/preset-typescript/.storybook/presets.ts
  packages/preset-typescript/.storybook/stories/Button.tsx
  packages/preset-typescript/.storybook/stories/storiesof.stories.tsx
  packages/preset-typescript/CHANGELOG.md
  packages/preset-typescript/README.md
  packages/preset-typescript/index.d.ts
  packages/preset-typescript/index.js
  packages/preset-typescript/package.json
  yarn.lock
Labels: enhancement, typescript

#108 Improve compatibility of preset-typescript with Vue
  packages/preset-typescript/index.js
  packages/preset-typescript/package.json
Labels: enhancement, typescript

#103 feat(cra): remove ts docgen loader
  .circleci/config.yml
  .github/workflows/ci.yml
  examples/cra-ts/.storybook/main.js
  examples/cra-ts/package.json
  examples/cra-ts/src/components/Button/Button.tsx
  examples/cra/package.json
  package.json
  packages/preset-ant-design/package.json
  packages/preset-create-react-app/README.md
  packages/preset-create-react-app/package.json
  packages/preset-create-react-app/src/helpers/mergePlugins.ts
  packages/preset-create-react-app/src/helpers/processCraConfig.ts
  packages/preset-create-react-app/src/index.ts
  packages/preset-create-react-app/src/options.ts
  packages/preset-scss/package.json
  packages/preset-typescript/index.js
  packages/preset-typescript/package.json
  scripts/repo-dirty-check.js
  yarn.lock
Labels: create-react-app, documentation, enhancement

#104 Make preset-create-react-app compatible with Yarn PnP/Yarn 2
  packages/preset-create-react-app/@types/nodejs.d.ts
  packages/preset-create-react-app/@types/pnp-webpack-plugin.d.ts
  packages/preset-create-react-app/package.json
  packages/preset-create-react-app/src/helpers/getReactScriptsPath.ts
  packages/preset-create-react-app/src/index.ts
  yarn.lock
Labels: create-react-app

#115 feat(typescript): refactor to use babel
  .eslintignore
  .github/workflows/ci.yml
  .gitignore
  README.md
  examples/README.md
  examples/cra-ts/package.json
  examples/cra/package.json
  examples/ts-react/.storybook/main.ts
  examples/ts-react/package.json
  examples/ts-react/src/components/Button/Button.stories.mdx
  examples/ts-react/src/components/Button/Button.stories.tsx
  examples/ts-react/src/components/Button/Button.tsx
  examples/ts-react/tsconfig.json
  examples/ts-vue/.storybook/main.ts
  examples/ts-vue/.storybook/preview.ts
  examples/ts-vue/package.json
  examples/ts-vue/src/components/Button/Button.stories.mdx
  examples/ts-vue/src/components/Button/Button.stories.ts
  examples/ts-vue/src/components/Button/Button.vue
  examples/ts-vue/src/vue.shims.d.ts
  examples/ts-vue/tsconfig.json
  jest.config.js
  package.json
  packages/preset-ant-design/package.json
  packages/preset-create-react-app/package.json
  packages/preset-create-react-app/src/helpers/checkPresets.ts
  packages/preset-create-react-app/src/helpers/getModulePath.ts
  packages/preset-create-react-app/src/helpers/getReactScriptsPath.ts
  packages/preset-create-react-app/src/helpers/mergePlugins.ts
  packages/preset-create-react-app/src/helpers/processCraConfig.ts
  packages/preset-create-react-app/src/index.ts
  packages/preset-create-react-app/src/options.ts
  packages/preset-create-react-app/tsconfig.json
  packages/preset-scss/package.json
  packages/preset-typescript/.npmignore
  packages/preset-typescript/.storybook/stories/Button.tsx
  packages/preset-typescript/.storybook/stories/storiesof.stories.tsx
  packages/preset-typescript/README.md
  packages/preset-typescript/index.d.ts
  packages/preset-typescript/index.js
  packages/preset-typescript/package.json
  packages/preset-typescript/src/helpers/isCompatible.ts
  packages/preset-typescript/src/helpers/processConfig.ts
  packages/preset-typescript/src/index.ts
  packages/preset-typescript/src/options.ts
  packages/preset-typescript/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: enhancement, typescript

#117 Preset-typescript: Fix for nullish babel include
  packages/preset-typescript/src/helpers/processConfig.ts
Labels: bug, typescript
